-----BEGIN CERTIFICATE-----
MIIEnjCCA4agAwIBAgIUIYpM7IBPqSl2EnD2sRhmQKtwkSQwDQYJKoZIhvcNAQEL
BQAwgYsxCzAJBgNVBAYTAlVTMRkwFwYDVQQKExBDbG91ZEZsYXJlLCBJbmMuMTQw
MgYDVQQLEytDbG91ZEZsYXJlIE9yaWdpbiBTU0wgQ2VydGlmaWNhdGUgQXV0aG9y
aXR5MRYwFAYDVQQHEw1TYW4gRnJhbmNpc2NvMRMwEQYDVQQIEwpDYWxpZm9ybmlh
MB4XDTI2MDIwNDA4MTcwMFoXDTQxMDEzMTA4MTcwMFowYjEZMBcGA1UEChMQQ2xv
dWRGbGFyZSwgSW5jLjEdMBsGA1UECxMUQ2xvdWRGbGFyZSBPcmlnaW4gQ0ExJjAk
BgNVBAMTHUNsb3VkRmxhcmUgT3JpZ2luIENlcnRpZmljYXRlMIIBIjANBgkqhkiG
9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmdK1PCrL0LaOPm47Q7xLEeCGYNu9K1P3S94B
2pl9QaEmuLD+8gJuHSmj00sVlFBSHXdGNaods7I3rhivlxGl8dXx686fCDW4E/MJ
1+MhPaZxdfsrKdcMy8hOYqMCkV7TwTXWJGA/hV7JlL2AS3e43xcCfI5XpzzvFn+g
ZvY9YoK0t1vO/GEB0KB++Zk9/yF/xNXWK+c1cZfeK9gGf1noO5e46FHcDYuNMhSK
yVeXLXMzlld7ez42ibITcWwc5UC8pGc46gYBzcTvHUVzSlB2Kw21q67wXZVzIu0C
ZdQSaQ07XUQA7GeZK0EwopUIDgbvMGjtwYnqDCPQnUiOgex2QQIDAQABo4IBIDCC
ARwwDgYDVR0PAQH/BAQDAgWgMB0GA1UdJQQWMBQGCCsGAQUFBwMCBggrBgEFBQcD
ATAMBgNVHRMBAf8EAjAAMB0GA1UdDgQWBBRspo90s/SkbeQAhcg5ByGrv2xl5TAf
BgNVHSMEGDAWgBQk6FNXXXw0QIep65TbuuEWePwppDBABggrBgEFBQcBAQQ0MDIw
MAYIKwYBBQUHMAGGJGh0dHA6Ly9vY3NwLmNsb3VkZmxhcmUuY29tL29yaWdpbl9j
YTAhBgNVHREEGjAYggsqLnFpc2N1cy5tZYIJcWlzY3VzLm1lMDgGA1UdHwQxMC8w
LaAroCmGJ2h0dHA6Ly9jcmwuY2xvdWRmbGFyZS5jb20vb3JpZ2luX2NhLmNybDAN
BgkqhkiG9w0BAQsFAAOCAQEAojUAVz8GurggFTbPO6+cYpkvinv8SsXGfQHGqcWU
FDpngpWngRZacuM6a0NpktECsX99bmqGtnVEVSdrdJkW1HOwb6zzmf1c18xGgW36
9iUYtSAfz1ivCydLjGg8UI0ILDfDxf0K1bFga4b8a4jHx1+ugq/MprxT+xAhioJM
Dt+896yfnEzDZ4ub7M663iG+nGfS2bG/eTIwNk6kwaZD05dAQo6yw3xlvbX+tbpA
Rrmv/HVMaohJGaUhP8fh6Q57gygrn3fRv+5jFCQt/VXg/Q7dhlrwNULksk9fVYyg
NxWVTZ/Lv8NsNNDgtCMQJvWdojjrcQ4DXFYfHsBSsTk0yg==
-----END CERTIFICATE-----

